@font-face {
    font-family: 'light';
    src: url('../fonts/SFDP/SF-Pro-Display-light.otf') format('opentype'),
    url('../fonts/SFDP/SF-Pro-Display-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/SFDP/SF-Pro-Display-Regular.otf') format('opentype'),
    url('../fonts/SFDP/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'semibold';
    src: url('../fonts/SFDP/SF-Pro-Display-Semibold.otf') format('opentype'),
    url('../fonts/SFDP/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'bold';
    src: url('../fonts/SFDP/SF-Pro-Display-Bold.otf') format('opentype'),
    url('../fonts/SFDP/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --containerWidth: 1170px;
    --containerTablet: 768px;
    --containerMobile: 100%;
    --carouselItems: 5;
    --carouselItemWidth: calc((var(--containerWidth) - 150px) / 3);
}
.scroll-lock {
    overflow: hidden;
}

* {box-sizing: border-box}
.morda {
    width: 100%;
    position: relative;
    height: auto;
    margin: 0;
    font-size: 16px;
    color: #5D565E;
    font-family: 'regular', sans-serif;
    padding: 0;
}
.container {
    width: var(--containerWidth);
    margin: 0 auto;
    box-sizing: border-box;
}
.mheader {
    width: 100%;
    height: 65px;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.flex-start {
    justify-content: flex-start;
}
.space-between {
    justify-content: space-between;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}
.logo img {
    height: 100%;
    max-width: 100%;
}
.header-nav {
    gap: 20px;
    font-weight: bold;
    align-items: center;
    padding: 0 20px;
}
.header-nav a {
    color: #36253A;
    transition: text-decoration .2s ease-in-out;
    text-decoration: none;
    outline: none;
    padding-bottom: 10px;
}
.header-nav a:hover {
    color: #000000;
}
.header-nav a:active {
    color: #36253A;
}
.mobile-nav-row {
    display: none;
}

.navbar-menu {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    top: 5px;
}
.mobile-logo {
    display: none;
}
.sup-info {
    margin: 10px 0;
}
.mbutton, .form-button {
    background: #F15A24;
    border-radius: 5px;
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #F15A24;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color, color, .2s ease-in-out;
    position: relative;
}

.mbutton.outline {
    color: rgba(90, 81, 92, 1);
    background: transparent;
}
.mbutton:hover {
    color: rgba(90, 81, 92, 1);
    background: transparent;
}
.mbutton.outline:hover {
    color: #fff;
    background: #F15A24;
}
.mbutton.big {
    font-size: 24px;
    padding: 15px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    height: 50px;
    min-width: 300px;
}
.form-button.big {
    font-size: 24px;
    padding: 15px 20px;
    box-sizing: border-box;
    height: 50px;
    min-width: 300px;
    margin: 0;
}
.mbutton-group {
    gap: 10px;
}
.motivation {
    display: flex;
    position: relative;
    background-size: 80%;
    background: url(../images/clickNow.svg) no-repeat;
    max-width: 100%;
    width: 150px;
    height: 49px;
    text-align: center;
    margin: 10px 140px;
}

.svg-wrap {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.svg-wrap {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

a {
    color: #404d5b;
}

section {
    position: relative;
    z-index: 1;
    overflow: hidden;
    backface-visibility: hidden;
}

section a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #404d5b;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
}

section a::before,
section a::after {
    pointer-events: none;
    backface-visibility: hidden;
}

.link-svgline a svg.link-svgline {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    margin: 0;
    height: 12px;
    width: 0;
    transition: width 0.3s ease-in-out;
    transform: translateY(-90%);
    fill: none;
    stroke: #F15A24;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
}

.link-svgline a:hover svg.link-svgline {
    width: 100%;
}

h1 {
    font-size: 44px;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'light', sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 40px;
    line-height: 44px;
    display: flex;
    margin: 0;
    align-items: center;
    letter-spacing: -0.4px;
    color: #413744;
    font-family: 'light', sans-serif;
    font-weight: 300;
}
.text-small {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F15A24;
    font-family: 'bold', sans-serif;
    font-weight: 700;
}
.text-small.first {
    font-size: 16px!important;
}
.text-standart {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding: 50px 0;
    font-family: 'regular', sans-serif;
}
button.cancel {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    background: url("../images/icons/close.png") no-repeat;
    background-size: 100%;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-90deg);
}

button.cancel:hover {
    transform: rotate(0deg);
}
section.first-page {
    padding-top: 150px;
}
section.thrid {
    background-color: #28282E;
    width: 100%;
    height: auto;
    padding: 40px 0;
    color: #fff;
    box-sizing: border-box;
}
section.thrid .title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}
section.thrid .title span {
    color: #F15A24;
}
.carousel {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    transition: all 0.3s ease-in-out;
}

.carousel-item {
    flex: 0 0 33.33%; /* Равномерное распределение на 1170px */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 1;
}
.regLink, .authLink {
    text-decoration: underline;
    cursor: pointer;
}
.flex.column.form-column.contact {
    padding: 90px 20px;
}

.prev-button,
.next-button {
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
}



.input-text {
    border-radius: 5px;
    border: 1px solid #D0D0D0;
    background: #FFF;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05) inset;
    width: 100%;
    min-height: 100px;
    height: auto;
    flex-shrink: 0;
    padding: 14px 12px;
    color: #000000;
    font-size: 14px;
    max-width: 100%;

}

@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 100%; /* Один элемент на 768px и меньше */
    }
}

.carousel-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 10px 20px;
}
.carousel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F15A24;
}
.carousel-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: relative;
    transition: opacity 0.2s ease-in-out;
    box-sizing: border-box;
    padding: 10px;
}
.pr, .nxt {
    margin-top: -200px;
}
.prev img, .next img {
    width: 100%;
}
.prev {
    left: -60px;
}
.next {
    left: 60px;
}
.prev:hover, .next:hover {
    filter: opacity(0.7);

}
.page {
    box-sizing: border-box;
    padding: 50px 0;
}
img.transition-left {
    transform: translateX(-90px);
}
img.transition-right {
    transform: translateX(90px);
}

.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.carousel-link a {
    color: #F15A24;
}
.carousel-nav .popular {
    position: absolute;
    right: 5%;
}
.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px 24px;
}
.partner-item {
    width: calc((100% - 100px) / 4);
    height: 104px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F7F7FC;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.partner-item:hover {
    transform: scale(1.05);
}
.partner-item img {
    width: auto;
    max-width: 80%;
}
section.four .text {
    font-size: 20px;
    font-weight: 300;
    padding: 33px 0 53px;
}
section.four .text span {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F15A24;
}
section.four .text span  {
    font-size: 20px;
    font-weight: 600;
    color: #F15A24;
}
section.four .text span.black {
    color: #000000;
}
section.five .title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #191919;
    width: 100%;
    margin-bottom: 80px;
}
section.five .title span {
    color: #F15A24;
}
.partner-item img.gray {
    filter: brightness(0.5);
}
footer {
    margin-top: 100px;
    width: 100%;
    border-bottom: 6px solid #F15A24;
    padding: 8px 10px;
    box-sizing: border-box;
}
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
a.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}
a.social-icon:hover {
    opacity: .7;
}
a.social-icon img {
    width: 100%;
}
#back-to-top {
    position: fixed;
    display: flex;
    bottom: 70px;
    right: 20px;
    width: 60px;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F15A24;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 99;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0 0 3px 5px rgba(217, 83, 79, 0.3);
}
#back-to-top img {
    width: 200%;
}
.popup-auth-reg {
    background: url("../images/bg-popup.svg") no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.popup-block-white {
    background-color: #fff;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 0;
    animation: slide-in 0.2s ease-out;
}
.popup-logo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-logo img {
    max-width: 110px;
    width: 100%;
    height: auto;
    display: block;
}
.popup-title {
    font-family: 'Ubuntu', serif;
    font-size: 45px;
    color: #505050;
    font-weight: 500;
    text-align: center;
}
.popup-subtitle {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7B7B7B;
}
.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    gap: 10px;
}
.gray-bg {
    background: linear-gradient(180deg, #F7F8F8 0%, #F9F8FA 50%, #FFF 100%);
    box-shadow: 0px 3px 7px 0px rgba(95, 134, 34, 0.05) inset;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.rules {
    display: block;
    position: relative;
    width: 100%;
    min-width: 100%;
    font-size: 12px;
}
.flex.column.form-column {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.popup-form input, .form input {
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    width: 100%;
    padding: 0 20px;
}
.popup-logo-text {
    font-size: 18px;
    width: 100%;
    margin: 20px auto;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    text-align: center;
}
.popup-logo-text a {
    color: #fff;
    text-decoration: none;
}
.popup-logo-text a:hover {
    text-decoration: underline;
}
.popup-logo-text span.left {
    text-align: left;
    width: 100%;
}
.popup-logo-text span.right {
    text-align: right;
    width: 100%;
}
.pass-loss {
    width: 100%;
    text-align: -webkit-right;
    text-decoration: underline;
    cursor: pointer;
}
.mobile-copyright {
    display: none;
}
@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.mobile-menu-nav {
    display: none;
}
.img-logo {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: url("../images/logo/orange.svg") no-repeat center;
    background-size: contain;
    height: 50px;
    filter: brightness(9);
}




@media screen and (max-width: 1170px) {
    .container {
        box-sizing: border-box;
        padding: 0 10px;
    }
    .prev, .next {
        left: 0;
        width: 45px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
    .container {
        width: var(--containerTablet);
    }
    .carousel-item {
        flex: 0 0 100%;
    }
    .partners {
        justify-content: center;
    }
    .partner-item {
        flex: 0 0 45%;
    }
}
@media screen and (min-width: 820px) and (max-width: 1024px) {
    img.transition-right {
        transform: none;
    }
    img.transition-left {
        transform: none;
        margin-left: -210px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
    }
    .transition-right {
        display: none;
    }
    h1 {
        max-width: 500px;
    }
    .text-standart {
        padding: 20px 0;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    img.transition-left {
        margin-right: -240px;
        margin-left: 90px;
    }
    .carousel-item {
        min-width: calc(100% / 1);
    }
    .carousel-text {
        padding: 10px 130px;
    }
    .popup-title {
        font-size: 24px;
    }
    .popup-subtitle {
        font-size: 14px;
    }


}
@media screen and (max-width: 650px) {
    .logo {display: none}
    .partner-item {
        width: calc((100% - 100px) / 2);
    }
}
@media screen and (max-width: 450px) {
    button.cancel {
        filter: invert(0);
    }
    .logo {
        max-width: 120px;
        height: auto;
        display: block;
    }
    .img-logo {
        max-width: 50%;
    }
    .container {
        width: var(--containerMobile);
    }
    img.transition-left  {
        display: flex;
        transform: none;
        margin: 0 0 30px;
    }
    img.transition-right {
        display: none;
    }
    .navbar-menu, .header-buttons {
        display: none;
    }
    .partner-item {
        flex: 40%;
    }
    .mob-column-reverse {
        flex-direction: column-reverse;
    }
    .mob-column {
        flex-direction: column;
    }
    section.first-page {
        padding-top: 20px;
    }
    h1 {
        font-size: 32px;
    }
    .first-page .mbutton-group {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .first-page .mbutton-group {
        width: 100%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
        flex-direction: column;
    }
    .mobile-reverse-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .carousel-text {
        padding: 10px 10%;
    }
    .copyright {
        display: none;
    }
    footer.footer {
        border-bottom: none;
    }
    #back-to-top {
        bottom: 110px;
    }
    .btn-group {
        gap: 10px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .mobile-nav-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .pr, .nxt {
        margin-top: -260px;
    }
    .partners {
        gap: 10px;
    }
    header.mheader {
        padding-bottom: 50px!important;
    }
    .morda {
        padding: 73px 0 0;
    }
    header.mheader {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #ffffff;
        z-index: 999;
    }
    .mobile-menu-nav {
        display: none;
    }
    .mobile-menu-nav.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        position: fixed;
        top: 73px;
        padding: 20px 0 20px;
        box-sizing: border-box;
        height: calc(100vh - 73px);
    }
    .mobile-menu-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 60px;
        padding-top: 20vh;
    }
    button.mobile-button {
        background: transparent;
        border: none;
        width: 40px;
    }
    button.mobile-button img {
        width: 100%;
    }
    .mobile-menu-nav .mobile-menu-items a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #D9D5D4;
        text-decoration: none;
        color: #5D565F;
        font-size: 17px;
        padding: 15px 0;
        gap: 10px;
        transition: transform 0.5s ease-in-out;
    }
    .mobile-menu-nav .mobile-menu-items a:hover {
        transform: translateX(-20px);
    }
    .mobile-menu-items a span.icon {
        max-width: 31px;
        width: 31px;
        border-radius: 100%;
        border: 1px solid #F15A24;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .mobile-menu-items a span.icon img {
        width: 100%;
        filter: opacity(1) contrast(0.7) brightness(1.2);
    }
    .mobile-menu-nav-footer {
        width: 100%;
        bottom: 0;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu-nav-footer .line {
        display: block;
        height: 3px;
        width: 66px;
        background-color: #F15A24;
        margin: 0 auto 50px;
        border-radius: 10px;
    }
    .mobile-menu-nav.active .menu-icon {
        display: none;
    }
    .mobile-menu-nav.active .close-icon {
        display: block;
    }
    /*смена формы попапа для мобилы*/
    .popup-auth-reg {
        flex-direction: column;
    }
    .popup-logo, .popup-block-white {
        width: 100%;
    }
    .popup-block-white {
        border-radius: 40px 40px 0 0;
        padding: 40px 10px 40px;
    }
    .mbutton.big {
        margin: 20px auto 0;
    }

    .popup-logo-text {
        display: none;
    }
    .mobile-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .mobile-logo img {
        width: auto;
        max-width: 100%;
    }
    .text-small.first {
        display: none;
    }
    .mobile-bg {
        background-size: cover;
        background: url("../images/bg-mobile.png") no-repeat;
        background-position-x: -20px;
        background-size: 110% 130%;
        background-position-y: -40px;
    }
    h1 {
        font-size: 12px;
        color: #ffffff;
        background: #F15A24;
        padding: 10px 15px;
        border-radius: 10px 0 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 20%;
        margin-top: 20px;
    }
    h2 {
        font-size: 30px;
        box-sizing: border-box;
        display: block;
        padding: 0 0 0 0px;
    }
    .text-standart {
        font-family: 'light', sans-serif;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #5D565E;
        padding: 40px;
    }
    .text-standart.second {
        padding: 10px 40px;
    }
    .text-small {
        padding: 0;
    }
    section.four .text {
        font-size: 17px;
        font-weight: 300;
        padding: 33px 40px 53px;
    }
    .mobile-blur {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(6px);
    }
    .mobile-copyright {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #797679;
        position: relative;
        width: 100%;
        height: auto;
        padding: 5px;
        text-align: center;
    }
    @keyframes slide-in {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
    }
}
@media screen and (max-width: 360px) {
    .mobile-menu-items {
        padding-top: 12vh;
    }
}
@media screen and (max-height: 500px) {
    .popup-form input {
        height: 40px;
    }
    .popup-logo img {
        background: url("../images/logo/orange.svg");
    }
    .mobile-menu-items {
        padding-top: 0;
    }
}
.hidden {
    display: none!important;
}

